<div class="card pt-5 border-0">
    <img class="card-img-top" src="~/Media/header.jpg">
    <div class="card-body">
        <h3 class="display-3 card-title text-center">    
            Contoso Recruiting Internal Portal
        </h3>
    </div>
</div>